/* .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 64px;
} */

.page {
  padding: 48px 64px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  gap: 65px;
}

.filters {
  width: 360px;
  flex-shrink: 0;
}

.catalog {
  flex-grow: 1;
}
