.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 21px 200px 141px 200px;
  background: var(--inputs);
  width: 100%;
  border-radius: 16px;
}

.image {
  object-fit: contain;
  margin-bottom: 21px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--main);
  margin-bottom: 16px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
  margin-bottom: 43px;
}

.viewAllButton {
  border-radius: 200px;
  padding: 16px 30px;
  width: 192px;
  height: 56px;
  background-color: var(--grey-green);
  cursor: pointer;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}

.viewAllButton:hover,
.viewAllButton:focus {
  background-color: var(--green-hover);
}
