.sectionCamperFeatures {
  border-radius: 16px;
  padding: 24px;
  width: 650px;
  background-color: #f7f7f7;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
  margin-bottom: 16px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.feature {
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background-color: var(--badges);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.line {
  width: 602px;
  border: none;
  border-top: 1px solid var(--gray-light);
  margin-bottom: 16px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail {
  display: flex;
  justify-content: space-between;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}
